src/main/app/mule-calling-services.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration-mc-xmlToJson2" host="localhost" port="8083" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="mc-xmlToJson2Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/mc-xmlToJson2" allowedMethods="POST" doc:name="HTTP"/>
		<logger message="LOG-1 - mc-xmlToJson2 #[payload]" level="INFO" doc:name="Logger"/>
		<byte-array-to-string-transformer doc:name="Byte Array to String"/>
		<json:xml-to-json-transformer doc:name="XML to JSON"/>
		<logger message="LOG-2" level="INFO" doc:name="Logger"/>
	</flow>
		<flow name="mule-calling-xmlToJson2Flow">
		<http:listener config-ref="HTTP_Listener_Configuration1" path="/mule-calling-mc-xmlToJson2" allowedMethods="POST" doc:name="HTTP"/>
		<logger message="LOG-1 - mule-calling-services #[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration-mc-xmlToJson2" path="/xmlToJson2" method="POST" doc:name="HTTP"/>
		<logger message="LOG-2 from mc-xmlToJson2" level="INFO" doc:name="Logger"/>
	</flow>





</mule>